{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}Who We Are{% endblock %}
{% block body %}
<div class="grid_12 featurebar left">
<h1>Who We Are</h1>
</div>
<div class="grid_12 left">
<h2>The SBC Mission</h2>
<p>SBC (Sloan Business Club) was founded on the belief that while MIT provides its students with an excellent academic and intellectual foundation, the successful business person requires opportunities and skills that cannot be bestowed in any classroom setting. Through our extensive selection of events, our organization works to provide our 1,600+ members with both an expansive business network and a solid mentorship base, enabling students to fully utilize their academic backgrounds in launching strong businesses.</p>
<h2>What Makes SBC Unique</h2>
<p>Our organization is characterized by a rare comprehensive outreach, encompassing MIT undergraduates as well as graduate students and postdoctoral fellows. By extending ourselves across both the Sloan School of Management Science and the MIT science and engineering community, we draw from a truly diverse collection of perspectives, ideas, and talents.</p>
<p>Our division into focus groups is completely unique to SBC. We realize that business is a multi-faceted field and business students come in many types. Through this organizational strategy, we ensure that our group caters to the specific needs of each individual, regardless of whether they lean towards consulting, engineering leadership, entrepreneurship, and finance.</p>
<h2>SBC Board Structure</h2>
<p>The SBC Board is structured to provide industry specific focus groups working with a club wide operations group. The executive board consists of presidents and the managing directors of each focus group as well as operations. Opeartions handles critical administrative tasks, such as marketing for events, organizing large events that cross focus group, and maintaining the club’s finances. To learn more about the structure of SBC, please read our <a href="{% static 'home/img/about/SBC_Constitution_April_2013.pdf' %}" target="_blank">constitution</a>, which was last updated April 6, 2013.</p>
<h2>SBC Board Members</h2>
<p>Our leadership is comprised of three focus groups, <a href="{% url 'members' 'consulting' %}">Consulting</a>, <a href="{% url 'members' 'finance' %}">Finance</a>, and <a href="{% url 'members' 'eel' %}">EEL (Entrepreneurship and Engineering Leadership)</a>, which report directly to the <a href="{% url 'members' 'exec' %}">Executive Board</a>. The General Board is comprised of members from the <a href="{% url 'members' '2015' %}">Class of 2015</a>, <a href="{% url 'members' '2016' %}">Class of 2016</a>, and <a href="{% url 'members' '2017' %}">Class of 2017</a>.</p>
</div>
<div class="grid_12 center">
	<img src="{% static 'home/img/about/board_org_chart.png' %}" alt="SBC Board Organization" width="641" height="363" />
</div>
{% endblock %}