{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - MIT Sloan Business Club</title>
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
    <meta charset="utf-8">
	<link rel="shortcut icon" href="{% static 'home/img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700,900">
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/960_12_col.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/jquery.bxslider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.3.0/forms-min.css">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.3.0/buttons-min.css">
	{% block css %}{% endblock %}
	{% if not request.session.django_timezone %}
	<script type="text/javascript" src="{% static 'home/js/jstz-1.0.4.min.js' %}"></script>
	{% endif %}
	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	{% block js %}{% endblock %}
  </head>
  <body>
  	<div class="container_12 main">
	<div class="grid_12 menu">
		<table>
			<tr>
				<td id="banner"><a href="{% url 'index' %}"><img src="{% static 'home/img/banner.png' %}" /></a></td>
				{% for item in top_menu.menuitems.all %}
				<td><a href="{% if item.page %}{% url item.page %}{% else %}{{ item.link }}{% endif %}">{{ item.text }}</a></td>
				{% endfor %}
			</tr>
		</table>
	</div>
	<hr />
	<div class="clear"></div>
	{% block body %}{% endblock %}
	<div class="clear"></div>
	<hr />
	<div class="grid_12 footer">
		<p id="copyright">&copy; 2013 <span onclick="window.open('http://www.yasyf.com');">Yasyf Mohamedali</span> &amp; MIT SBC</p>
	</div>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49095716-1', 'mit.edu');
	  ga('send', 'pageview');

	</script>
	<script>
	$(document).ready(function() {
	  if(window.top !== window.self){
		  window.top.location.replace(window.self.location.href); 
	  }
	  $.get( "https://sbc.scripts.mit.edu:444/auth/auth.py", function(data) {
		  $("#id_email").val(data.email);
		  $("#id_name").val(data.name);
		  $("#id_phone").val(data.phone);
		  ga('send', 'event', 'view', 'user', data.email);
		  ga('set', '&uid', data.email);
		});
	  {% if not request.session.django_timezone %}
	  $.get("{% url 'set_timezone' %}?timezone="+encodeURIComponent(jstz.determine().name()));
	  {% endif %}
	});
	</script>
  </body>
</html>
<!-- SBC web development by Yasyf Mohamedali (http://www.yasyf.com). -->
<!-- Original design by Brendan Chang. -->
<!-- Graphics by Kiran Wattamwar (http://www.behance.net/wattamwar). -->