{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mitsbc | {% block title %}{% endblock %}</title>
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
    <meta name="description" content="SBC (Sloan Business Club) is an on-campus organization at Massachusetts Institute of Technology with the purpose of connecting the MIT campus to the professional world." />
    <meta property="og:image" content="{% static 'home/img/sbclogo.png' %}?v={{ STATIC_VERSION }}" />
    {% block meta %}{% endblock %}
		<link rel="shortcut icon" href="{% static 'home/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}?v={{ STATIC_VERSION }}">
		{% block css %}{% endblock %}
		{% if not request.session.django_timezone %}
		<script type="text/javascript" src="{% static 'home/js/jstz-1.0.4.min.js' %}?v={{ STATIC_VERSION }}"></script>
		{% endif %}
		<script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
		<script type="text/javascript" src="{% static 'home/js/jquery.easing.1.3.js' %}?v={{ STATIC_VERSION }}"></script>
		{% block js %}{% endblock %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-49095716-1', 'mit.edu');
		  ga('send', 'pageview');

		</script>
  </head>
  <body>
  <div class="navbar">
    <div class="navbar-left">
      <div class="navbar-logo">
        <a href="http://mitsbc.mit.edu/" class="home-nav-link"><img id="logo"
        	src="{% static 'home/img/SBC-Logo-Light-Square.png' %}?v={{ STATIC_VERSION }}"/>
        </a>
      </div>
      <div class="navbar-title" class="home-nav-link">
        <a href="http://mitsbc.mit.edu/" class="home-nav-link"><div class="navbar-tall">|</div>SLOAN BUSINESS CLUB</a>
      </div>
    </div>
    <div class="navbar-right">
      <div class="nav-link">
        <a href="http://mitsbc.mit.edu/events/all/">EVENTS</a>
      </div>
      <div class="nav-link">
        <a href="http://mitsbc.mit.edu/?contact" class="contact-nav-link">CONTACT</a>
      </div>
      <div class="nav-link">
        <a href="http://mitsbc.mit.edu/about/">BOARD</a>
      </div>
      <div class="nav-link">
        <a href="http://mitsbc.mit.edu/drop/sbc-week-2015/">RESUME DROP</a>
      </div>
    </div>
  </div>
	{% block body %}{% endblock %}
	<script>
	$(document).ready(function() {
	  if(window.top !== window.self){
		  window.top.location.replace(window.self.location.href);
	  }
	  if ($.cookie('id_email') == undefined || $.cookie('id_name') == undefined || $.cookie('id_phone') == undefined || $.cookie('id_year') == undefined) {
	  	var SENIOR = (new Date()).getFullYear();
	  	if ((new Date()).getMonth() > 6){
	  		SENIOR += 1;
	  	}

	  	$.get("https://sbc.scripts.mit.edu:444/auth/auth.py", function(data) {
	  	  $.cookie('id_email', data.email);
	  	  $.cookie('id_name', data.name);
	  	  $.cookie('id_phone', data.phone);
	  	  var year = SENIOR + (4-data.year)
	  	  $.cookie('id_year', year);
	  	  $("#id_email").val(data.email);
			  $("#id_name").val(data.name);
			  $("#id_phone").val(data.phone);
			  $("#id_year").val(year);
			  ga('send', 'event', 'view', 'user', data.email);
			  ga('set', '&uid', data.email);
		});
	  }
	  else if ($.cookie('id_email')) {
  	  email = $.cookie('id_email');
	  	name = $.cookie('id_name');
	  	phone = $.cookie('id_phone');
	  	year = $.cookie('id_year');
  	  $("#id_email").val(email);
		  $("#id_name").val(name);
		  $("#id_phone").val(phone);
		  $("#id_year").val(year);
		  ga('send', 'event', 'view', 'user', email);
		  ga('set', '&uid', email);
	  }

	  {% if not request.session.django_timezone %}
	  $.get("{% url 'set_timezone' %}?timezone="+encodeURIComponent(jstz.determine().name()));
	  {% endif %}
	});
	</script>
  </body>
</html>
