{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}?v={{ STATIC_VERSION }}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/onepage-scroll.css' %}?v={{ STATIC_VERSION }}">
{% endblock %}
{% block js %}
	<script type="text/javascript" src="{% static 'home/js/index.js' %}?v={{ STATIC_VERSION }}"></script>
  <script type="text/javascript" src="{% static 'home/js/onepagescroll.min.js' %}?v={{ STATIC_VERSION }}"></script>
{% endblock %}
{% block body %}
  <div class="main">
    <section>
      <div class="home">
        <div class="home-content-container">

        </div>
        <div class="home-content">
          <div class="home-title">
            WHO WE ARE:
          </div>
          <div class="home-subtext">
            Sloan Business Club (SBC) is MIT's largest undergraduate business organization. <br><br>
            SBC was founded on the belief that while MIT provides its students with an excellent academic and intellectual foundation, the successful business person requires opportunities and skills that cannot be bestowed in a classroom setting.
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="welcome">
        <div class="welcome-content-container">

        </div>
        <div class="welcome-content">
          <div class="welcome-title">
            OUR MISSION:
          </div>
          <div class="welcome-subtext">

          </div>
          <div class="welcome-subtext">
            Through our extensive selection of events, our organization works to provide our 1,600+ members with both an expansive business network and a solid mentorship base, enabling students to fully utilize their academic backgrounds in launching strong businesses. <br> <br>
            Our members have broad interests, ranging from trading and banking to consulting and engineering management. We strive to develop students' skills and prepare them for the workplace.
          </div>
        </div>
      </div>
    </section>

    <section class="contact">
      <div class="contact">
        <div class="contact-content">
          <div class="contact-content-left">
            <div class="contact-content-left-text">
              CONTACT US |
            </div>
          </div>
          <div class="contact-content-right">
            <div class="contact-content-right-text">
              <a class="contact-link" href="mailto:sbc-exec@mit.edu">email inquiry: sbc-exec@mit.edu</a>
              <a class="contact-link" href="https://www.facebook.com/mitsbc">facebook: mitsbc</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        (c) 2015 kevin tu - sloan business club
      </div>
    </section>
  </div>
  <script type = "text/javascript">
      onePageScroll(".main", {
       sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
       easing: "ease-in-out",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
                                        // "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
       animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
       pagination: true,                // You can either show or hide the pagination. Toggle true for show, false for hide.
       updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
       beforeMove: function(index) {},  // This option accepts a callback function. The function will be called before the page moves.
       afterMove: function(index) {},   // This option accepts a callback function. The function will be called after the page moves.
       loop: false,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
       keyboard: true,                  // You can activate the keyboard controls
       responsiveFallback: false        // You can fallback to normal page scroll by defining the width of the browser in which
                                        // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
                                        // the browser's width is less than 600, the fallback will kick in.
    });
    $("a.contact-nav-link").click(function() {
      // moveTo(".main", 3);
      // $(".main").moveDown();
      // $(".main").onepage_scroll().moveTo(1);
      return false;
    });
  </script>
{% endblock %}
