{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}Welcome{% endblock %}
{% block js %}
	<script type="text/javascript" src="{% static 'home/js/html5lightbox/html5lightbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'home/js/bxslider/jquery.bxslider.min.js' %}"></script>
{% endblock %}
{% block body %}
	<div class="grid_12 featurebar left">
		<h1>Upcoming Events</h1>
		<br />
		<ul class="bxSlider">
			{% for item in slider_items %}
			<li>
				<a href="{{ item.link }}" {% if item.new_page %}target="_blank"{% endif %}>
					<img src="{{ item.image.url }}" height="{{ item.img_height }}" width="{{ item.img_width }}" alt="{{ item.text }}"/>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="clear"></div>
	<div class="grid_4 widget left">
		<article>
			<h1>{{ left_widget.title }}</h1>
			<p class="video"><a href="http://www.youtube.com/watch?v=-V3VtEpR4M8" class="html5lightbox" title="MIT Sloan Business Club">
				<img src="{% static 'home/img/trans.png' %}" alt="Click to learn more about SBC!"></a>
			</p>
			<p>{{ left_widget.contents|safe }}</p>
		</article>
	</div>
	<div class="grid_4 widget left right">
		<article>
			<h1>Calendar</h1>
			<div id="calendar">
				{% if calendar_items.count > 0 %}
					<table>
						{% for item in calendar_items %}
							<tr><td><a {% if item.new_page %}target="_blank"{% endif %} href="{% if item.link %}{{ item.link }}{% else %}{% url 'event' item.pk %}{% endif %}">{{ item.name }}</a>
								<br />
								{{ item.time|date:"f A \o\\n D N d" }} @ {{ item.location }}</td></tr>
						{% endfor %}
					</table>
				{% else %}
					<p>There are no upcoming events. Check back soon!</p>
				{% endif %}
			</div>
		</article>
	</div>
	<div class="grid_4 widget right">
		<article>
			<h1>{{ right_widget.title }}</h1>
			<p>{{ right_widget.contents|safe }}</p>
			<p><form action="{% url 'subscribe' %}" method="GET"><input type="text" name="email" id="id_email" placeholder="you@mit.edu"><input type="submit" value="" class="subscribe"></form></p>				
			<br />
			<p style="text-align:center;"><a href="https://www.facebook.com/MITsbc"><img src="{% static 'home/img/FB-f-Logo__blue_50.png' %}" /></a></p>
			<p style="text-align:center;">Follow us on Facebook!</p>
		</article>
	</div>
<script type="text/javascript">
$( 'document' ).ready(function() {
$( '.bxSlider' ).bxSlider({
	slideWidth: 960
});
});
</script>
{% endblock %}