{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}Internship Networking Exclusive {{ today.year }}{% endblock %}
{% block body %}
<div class="grid_12 featurebar left">
<h1>Internship Networking Exclusive {{ today.year }}</h1>
</div>
<div class="grid_12 left">
<h2>Resume Drop</h2>
{% if company_id %}
<p>//TODO: Resume Books</p>
{% else %}
<p>Please enter your company identifier to view this year's resume books.</p>
<p>
	<form action="{% url 'ine_admin' %}" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
	</form>
</p>
{% endif %}	
</div>
{% endblock %}