html {
	overflow-x: hidden;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 400;
	font-size: 13px;
	color: #001C3D;
	overflow-x: hidden;
	height: 100%;
	text-align: justify;
}

a {
	border: 0;
	font-weight: bold;
	color: #16385C;
	text-decoration: none;
	font-weight: 900;
}

a:hover {
	color: #5D99DE;
}

a img {
	border: 0;
}

h1 {
	color: #16385C;
	font-size: 26px;
	margin: 0;
}

hr {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2px;
	background-color: #16385C;
	border: 0;
	border-bottom: 2px solid #CCCCCC;
}

table {
	width: 100%;
	border-spacing: 0;
}

tr {
	width: 100%;
}

p, li {
	line-height: 2.0em;
	margin-bottom: 1em;
}

.left {
	padding-right: 15px;
}

.right {
	padding-left: 15px;
}

.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main {
	background-color: #FFFFFF;
	/*
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	*/
}

.menu {
	width: 100%;
	margin: 0;
	text-align: center;
}

.menu tr {
	height: 110px;
	vertical-align: bottom;
}

.menu td {
	vertical-align: bottom;
	min-width: 55px;
	padding: 0px 7px 15px 7px;
}

.menu td:last-child {
	padding-right: 0;
}

.menu td#banner {
	padding-left: 0;
	text-align: left;
}

/*
.menu td:not(#banner):hover {
	background-color: #16385C;
}

.menu td:not(#banner):hover a {
	color: #FFFFFF;
}
*/

.menu td a {
	font-size: 16px;
}

.featurebar {
	padding: 0;
	margin: 30px auto 10px auto;
}

.featurebar ul.bxSlider {
	padding: 0;
	margin: 0;
}

.widget {
	margin: 0;
	height: 300px;
}

.widget .video {
	text-align: center;
	width: 100%;
}

.widget .video a img {
	-moz-box-shadow: 0 0 5px #555555;
	-webkit-box-shadow: 0 0 5px #555555;
	box-shadow: 0 0 5px #555555;
	width: 100%;
	height: 75px;
	background: url('../img/videoplaceholder.png');
}

.widget .form {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 22px;
}

.widget input {
	margin: 0;
	padding: 0;
	width: 201px;
	height: 18px;
}

input.subscribe {
	border: 0;
	margin: 0 0 0 5px;
	padding: 0;
	width: 90px;
	height: 22px;
	background: url('../img/subscribe.png');
	vertical-align: bottom;
}

input.subscribe:active {
	background-position: 0 22px;
}

#calendar {
	color: #888888;
	width: 100%;
	height: 200px;
	overflow-y: auto;
}

#calendar td {
	border-bottom: 1px solid #DDDDDD;
	padding: 10px 0 10px 0;
	text-align: justify;
}

#calendar tr:first-child td {
	padding-top: 0;
}

.footer {
	margin: 0;
	bottom: 0;
	width: 100%;
}

.footer table {
	margin-top: 10px;
	text-align: right;
}

.footer table tr {
	margin-top: 10px;
}

.footer table td {
	padding: 0 7px;
	vertical-align: bottom;
}

.footer table tr td:first-child {
	width: 50%;
	text-align: left;
	padding-left: 0;
}

.footer table tr td:last-child {
	padding-right: 0;
}

#copyright {
	color: #AAAAAA;
	font-size: 12px;
	bottom: 0;
	text-align: right;
}

ul.errorlist{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: 9%;
	color: red;
}
.contact-form-message-div{
	margin-left: 9%;
	width: 80%;
}
.contact-form-submit-div{
	margin-left: 9%;
}

select { 
    width:12em; 
}