{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}{{ event.name }}{% endblock %}
{% block body %}
<div class="grid_12 featurebar left">
<h1>{{ event.name }}</h1>
</div>
<div class="grid_12 left">
{% if request.session.company %}
<h2>Resume Books for {{ company.name }}</h2>
{% for book in books %}
<p><a href="{{ book.url }}" target="_blank">{{ book }}</a></p>
{% endfor %}
{% else %}
<h2>Sponsor Resume Books</h2>
<p>Please enter your company identifier to view this year's resume books.</p>
<p>
	<form action="{% url 'drop_admin' name=event.slug %}" method="POST" class="pure-form pure-form-aligned">
		<fieldset>
		{% csrf_token %}
		{% for field in form %}
	        <div class="pure-control-group">
	            {{ field.errors }}
	            {{ field.label_tag }}
	            {{ field }}
	        </div>
	    {% endfor %}
	    <br />
	    <div class="contact-form-submit-div">
			<input class="pure-button" type="submit" value="Submit" id="contact_submit_btn"/>
		</div>
		</fieldset>
	</form>
</p>
{% endif %}
</div>
{% endblock %}
