{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}{{ event.name }}{% endblock %}
{% block body %}
<div class="grid_12 featurebar left">
<h1>{{ event.name }}</h1>
</div>
<div class="grid_12 left">
<h2>Resume Drop</h2>
{% if submitted %}
<p>Thank you for dropping your resume, {{ name }}. We will be in contact shortly if there are any further steps.</p>
{% else %}
{{ event.html_description | safe }}
<p>Please use the below form to drop your resume.</p>
<p>
	<form enctype="multipart/form-data" action="{% url 'drop_drop' name=event.slug %}" method="POST" class="pure-form pure-form-aligned">
		<fieldset>
		{% csrf_token %}
		{% for field in form %}
	        <div class="pure-control-group">
	            {{ field.errors }}
	            {{ field.label_tag }}
	            {{ field }}
	        </div>
	    {% endfor %}
	    <br />
	    <div class="contact-form-submit-div">
			<input class="pure-button" type="submit" value="Submit" id="contact_submit_btn"/>
		</div>
		</fieldset>
	</form>
</p>
{% endif %}
</div>
{% endblock %}
