{% extends "admin/base.html" %}
{% load admin_static %}

{% block extrajs %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49095716-1', 'mit.edu');
	  ga('send', 'pageview');

	</script>
{% endblock %}


{% block footer_links %}
  <a href="mailto:sbc-webmaster@mit.edu" class="icon"><i class="icon-question-sign"></i>Help!</a>
{% endblock %}


{% block footer_branding %}
	MIT SBC Admin
{% endblock %}


{% block copyright %}
	<span style='position: relative; top: 6px'>&copy; 2014 Yasyf Mohamedali &amp; MIT SBC</span>
{% endblock %}

